doctype html
html
	head
		meta( charset="UTF-8" )
		title 
			block title
		link( href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet' type='text/css' )
		link( href='css/style.css', rel='stylesheet' type='text/css' )
		block highlighter

	body
		.wrapper
			.demodisplay
				block content
			.demolist
				h3 Highlighter Demos:
				ul
					li
						a(href="syntaxhighlighter.html") SyntaxHighlighter - Default Theme
					li
						a(href="syntaxhighlighter_midnight.html") SyntaxHighlighter - Midnight Theme
					li
						a(href="syntaxhighlighter_rdark.html") SyntaxHighlighter - RDark Theme
					li
						a(href="prism.html") Prism - Default Theme
					li
						a(href="prism_okaidia.html") Prism - Okaidia Theme
					li
						a(href="prism_twilight.html") Prism - Twilight Theme
					li
						a(href="highlightjs.html") Highlight.js - Default Style
					li
						a(href="highlightjs_monokai.html") Highlight.js - Monokai Sublime Style
					li
						a(href="highlightjs_railscasts.html") Highlight.js - Railscasts Style
					li
						a(href="rainbow.html") Rainbow - GitHub Theme
					li
						a(href="rainbow_monokai.html") Rainbow - Monokai Theme
					li
						a(href="rainbow_twilight.html") Rainbow - Twilight Theme
					li
						a(href="shjs.html") SHJS - Default Theme
					li
						a(href="shjs_eclipse.html") SHJS - Eclipse Theme
					li
						a(href="shjs_navy.html") SHJS - Navy Theme
					li
						a(href="code_prettify.html") Code Prettify - Default Theme
					li
						a(href="code_prettify_desert.html") Code Prettify - Desert Theme
					li
						a(href="code_prettify_sunburst.html") Code Prettify - Sunburst Theme